<div class="container">
  <div class="row">
    <div class="col-md-4 imagesection">
      <button (click)="reduce50()">
        <img [ngClass]="rotate180opt?'rotate180':'rotate0'" style="padding-right:10px" [ngClass]="reducestat?'reduce50':'normal'"  src="{{imageLink}}"  alt="hey">
      </button>
    </div>
    <div class="col-md-4 optionsection" style="text-align:center">
      <button (click)="rotate180()">Click to rotate photo by 180 degrees</button>
      <button (click)="rotate0()">Click to reset photo</button>
    </div>
    <div style="text-align:center" class="col-md-4 searchbar">
      <label for="">Name</label>

      <input type="text" [(ngModel)]="name">
      <h1> <small class="text-muted">{{getBranch()}}</small></h1>

    </div>
  </div>
</div>