<div class="card">
  <div class="card-header">
    <h1>List</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter By:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped" *ngIf="products.length">
          <thead>
            <tr>
              <th> 
                <button class="btn btn-primary" (click)='toggleImage()'>
                  {{showImage?'Hide':'Show'}} Image
                </button> 
              </th>
              <th>Name</th>
              <th>Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>
              <img *ngIf=showImage src="{{product.productImageUrl}}" alt="hehe"></td>
              <td>{{ product.ProductName }}</td>
              <td>{{ product.ProductId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
